In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import Series, DataFrame

In [5]:
# create a series
a=np.random.rand(5)
a

array([ 0.16772391,  0.75362464,  0.4760574 ,  0.29868622,  0.12605819])

In [7]:
s=Series(a)
s

0    0.167724
1    0.753625
2    0.476057
3    0.298686
4    0.126058
dtype: float64

In [8]:
# you can customize the index
s=Series(np.random.rand(5),index=['a','b','c','d','e'])
s

a    0.098277
b    0.590685
c    0.033057
d    0.732887
e    0.510111
dtype: float64

In [9]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
s.values

array([ 0.09827742,  0.59068542,  0.03305727,  0.73288658,  0.51011072])

In [11]:
s=Series(np.random.rand(5),index=['a','b','c','d','e'],name='my_series')
s.name

'my_series'

In [14]:
d={'a':0,'b':1,'c':2}# dictionary
print(d)

{'a': 0, 'b': 1, 'c': 2}

In [15]:
s=Series(d,index=['b','c','d','a'])
s
# python will automatically match key-value, missing value will be filled
# automatically if it does not exist in the dictionary

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [16]:
s=Series(100,index=['a','b','c'])
s
# creating a list(Series) of constant

a    100
b    100
c    100
dtype: int64

In [17]:
# accessing series data
s=Series(np.random.rand(5),index=['a','b','c','d','e'])
s

a    0.569822
b    0.636568
c    0.719444
d    0.595709
e    0.423155
dtype: float64

In [18]:
s[0]

0.56982164494152754

In [19]:
s[:2]

a    0.569822
b    0.636568
dtype: float64

In [20]:
s[:1]

a    0.569822
dtype: float64

In [23]:
s[[0]]

a    0.569822
dtype: float64

In [24]:
s[[0,2,4]]

a    0.569822
c    0.719444
e    0.423155
dtype: float64

In [25]:
s[['e','a']]

e    0.423155
a    0.569822
dtype: float64

In [27]:
s['e']

0.42315500819991081

In [28]:
s[s>0.5]

a    0.569822
b    0.636568
c    0.719444
d    0.595709
dtype: float64

In [29]:
'e'in s

True

In [31]:
'0.42315500819991081'in s

False

In [37]:
# dataframe - multiple series
# built df from series
d={'one':Series([1,2,3],index=['a','b','c']),'two':Series([1,2,3,4],index=['a','b','c','d'])}
df=DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [38]:
# create a dataframe from a dataframe
df2=DataFrame(df,index=['r','d','a'],columns=['two','three'])
df2

   two  three
r  NaN    NaN
d  4.0    NaN
a  1.0    NaN

In [39]:
# a dataframe is composed of 3 parts
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [41]:
df.columns

Index(['one', 'two'], dtype='object')

In [42]:
df.values

array([[  1.,   1.],
       [  2.,   2.],
       [  3.,   3.],
       [ nan,   4.]])

In [44]:
# if you want an empty dataframe
df=DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [45]:
a=Series(range(5))
b=Series(np.linspace(4,20,5))
df=pd.concat([a,b],axis=1)
df

   0     1
0  0   4.0
1  1   8.0
2  2  12.0
3  3  16.0
4  4  20.0

In [49]:
# create a big data spreadsheet
df=DataFrame()
index=['alpha','beta','gamma','delta','eta']
for i in range(5):
    a=DataFrame([np.linspace(i,5*i,5)],index=[index[i]])
    df=pd.concat([df,a],axis=0)
df

         0    1     2     3     4
alpha  0.0  0.0   0.0   0.0   0.0
beta   1.0  2.0   3.0   4.0   5.0
gamma  2.0  4.0   6.0   8.0  10.0
delta  3.0  6.0   9.0  12.0  15.0
eta    4.0  8.0  12.0  16.0  20.0

In [50]:
df[1]

alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: 1, dtype: float64

In [51]:
# giving column names
df.columns

RangeIndex(start=0, stop=5, step=1)

In [52]:
df.columns=['a','b','c','d','e']
df

         a    b     c     d     e
alpha  0.0  0.0   0.0   0.0   0.0
beta   1.0  2.0   3.0   4.0   5.0
gamma  2.0  4.0   6.0   8.0  10.0
delta  3.0  6.0   9.0  12.0  15.0
eta    4.0  8.0  12.0  16.0  20.0

In [57]:
df[['b','d']]
# first way of accessing a column from dataframe

         b     d
alpha  0.0   0.0
beta   2.0   4.0
gamma  4.0   8.0
delta  6.0  12.0
eta    8.0  16.0

In [55]:
df.b # only works for calling one column

alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: b, dtype: float64

In [59]:
df['a'][1]

1.0

In [60]:
df['a']['beta']

1.0

In [61]:
df.iloc[1]
# iloc

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: beta, dtype: float64

In [62]:
df.loc['beta']
# iloc - use numerical index to access a row
# loc - use label index to access a row

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: beta, dtype: float64

In [63]:
# slice a df
df[1:3]

         a    b    c    d     e
beta   1.0  2.0  3.0  4.0   5.0
gamma  2.0  4.0  6.0  8.0  10.0

In [64]:
bv=[True, False, True, True, False]
df[bv]

         a    b    c     d     e
alpha  0.0  0.0  0.0   0.0   0.0
gamma  2.0  4.0  6.0   8.0  10.0
delta  3.0  6.0  9.0  12.0  15.0

In [66]:
# slicing combinations of rows and columns

df[['b','d']].iloc[[1,3]]

         b     d
beta   2.0   4.0
delta  6.0  12.0

In [67]:
df.iloc[[1,3]][['b','d']]

         b     d
beta   2.0   4.0
delta  6.0  12.0

In [69]:
# getting particular element from your dataset
print(df)
df.iat[2,3]

         a    b     c     d     e
alpha  0.0  0.0   0.0   0.0   0.0
beta   1.0  2.0   3.0   4.0   5.0
gamma  2.0  4.0   6.0   8.0  10.0
delta  3.0  6.0   9.0  12.0  15.0
eta    4.0  8.0  12.0  16.0  20.0

8.0

In [70]:
df.at['gamma','d']

8.0

In [71]:
df.ix['gamma',4]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

10.0

In [76]:
df.ix[['delta','gamma',],[1,4]]

         b     e
delta  6.0  15.0
gamma  4.0  10.0

In [77]:
df.ix[['beta',2],['b','e']]

        b    e
beta  2.0  5.0
2     NaN  NaN

In [79]:
# time functions from pandas

dates=pd.date_range('20150101',periods=5)
dates

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [82]:
dates=pd.date_range('20150101',freq='M',periods=5)
dates

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31'],
              dtype='datetime64[ns]', freq='M')

In [83]:
dates=pd.date_range('20150101',freq='A',periods=5)
dates

DatetimeIndex(['2015-12-31', '2016-12-31', '2017-12-31', '2018-12-31',
               '2019-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [84]:
dates=pd.date_range(start='20150101',end='20150131')
dates

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10', '2015-01-11', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
               '2015-01-17', '2015-01-18', '2015-01-19', '2015-01-20',
               '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-24',
               '2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-01-31'],
              dtype='datetime64[ns]', freq='D')

In [86]:
# we can transfer the dates to a df's index

df=pd.DataFrame(np.random.rand(31,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2015-01-01  0.286678  0.170510  0.759521  0.785469
2015-01-02  0.884836  0.563992  0.855181  0.092237
2015-01-03  0.722066  0.699598  0.173805  0.115958
2015-01-04  0.763549  0.427169  0.247436  0.711062
2015-01-05  0.142046  0.498509  0.843238  0.208342
2015-01-06  0.935957  0.227527  0.222800  0.358612
2015-01-07  0.092762  0.991638  0.380018  0.608891
2015-01-08  0.096022  0.955306  0.167764  0.607891
2015-01-09  0.897359  0.261463  0.811029  0.987177
2015-01-10  0.809743  0.467676  0.342828  0.459419
2015-01-11  0.333112  0.963467  0.813403  0.437215
2015-01-12  0.903239  0.557271  0.055731  0.647871
2015-01-13  0.891254  0.943568  0.859936  0.496755
2015-01-14  0.998441  0.924136  0.468214  0.761336
2015-01-15  0.420501  0.076706  0.663242  0.490953
2015-01-16  0.769102  0.636650  0.521581  0.726752
2015-01-17  0.228152  0.830230  0.488169  0.264201
2015-01-18  0.506731  0.736582  0.543750  0.805054
2015-01-19  0.021969  0.101195  0.504604  0.030984
2015-01-20  0.840991  0.388687  0.316351  0.142905
2015-01-21  0.517430  0.907259  0.953229  0.211181
2015-01-22  0.613076  0.133100  0.204272  0.996904
2015-01-23  0.116077  0.516090  0.815801  0.103941
2015-01-24  0.134174  0.803883  0.684734  0.304163
2015-01-25  0.379264  0.617681  0.325719  0.523956
2015-01-26  0.829262  0.942974  0.170930  0.111762
2015-01-27  0.876866  0.382549  0.433601  0.974742
2015-01-28  0.842071  0.645971  0.673601  0.404623
2015-01-29  0.735742  0.966476  0.842929  0.473916
2015-01-30  0.227942  0.187237  0.076745  0.214156
2015-01-31  0.559797  0.873220  0.405933  0.427262

In [89]:
! pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\administrator\anaconda3\lib\site-packages
Requirement already satisfied: requests-file in c:\users\administrator\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: lxml in c:\users\administrator\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: wrapt in c:\users\administrator\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: pandas>=0.19.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: requests>=2.3.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: requests-ftp in c:\users\administrator\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: six in c:\users\administrator\anaconda3\lib\site-packages (from requests-file->pandas-datareader)
Requirement already satisfied: python-dateutil>=2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader)
Requirement already satisfied: pytz>=2011k in c:\users\administrator\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader)
Requirement already satisfied: numpy>=1.7.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\administrator\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\administrator\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\administrator\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\administrator\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader)

In [90]:
from pandas_datareader import data

In [91]:
import datetime

In [92]:
start=datetime.datetime(2017,1,1)
end=datetime.datetime(2017,1,27)

In [94]:
df=data.DataReader('AAPL','quandl',start,end)

In [96]:
df

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-27,122.140,122.3500,121.6000,121.95,20562944.0,0.0,1.0,120.631393,120.838799,120.098062,120.443739,20562944.0
2017-01-26,121.670,122.4400,121.6000,121.94,26337576.0,0.0,1.0,120.167198,120.927687,120.098062,120.433863,26337576.0
2017-01-25,120.420,122.1000,120.2800,121.88,32586673.0,0.0,1.0,118.932637,120.591887,118.794366,120.374604,32586673.0
2017-01-24,119.550,120.1000,119.5000,119.97,23211038.0,0.0,1.0,118.073383,118.616590,118.024000,118.488195,23211038.0
2017-01-23,120.000,120.8100,119.7700,120.08,22050218.0,0.0,1.0,118.517825,119.317820,118.290666,118.596837,22050218.0
2017-01-20,120.450,120.4500,119.7346,120.00,32597892.0,0.0,1.0,118.962267,118.962267,118.255703,118.517825,32597892.0
2017-01-19,119.400,120.0900,119.3700,119.78,25597291.0,0.0,1.0,117.925236,118.606713,117.895606,118.300542,25597291.0
2017-01-18,120.000,120.5000,119.7100,119.99,23712961.0,0.0,1.0,118.517825,119.011649,118.231407,118.507948,23712961.0
2017-01-17,118.340,120.2400,118.2200,120.00,34439843.0,0.0,1.0,116.878328,118.754860,116.759810,118.517825,34439843.0
2017-01-13,119.110,119.6200,118.8100,119.04,26111948.0,0.0,1.0,117.638817,118.142518,117.342523,117.569682,26111948.0
2017-01-12,118.895,119.3000,118.2100,119.25,27086220.0,0.0,1.0,117.426473,117.826471,116.749934,117.777088,27086220.0
2017-01-11,118.740,119.9300,118.6000,119.75,27588593.0,0.0,1.0,117.273388,118.448689,117.135117,118.270913,27588593.0
2017-01-10,118.770,119.3800,118.3000,119.11,24462051.0,0.0,1.0,117.303017,117.905483,116.838822,117.638817,24462051.0
2017-01-09,117.950,119.4300,117.9400,118.99,33561948.0,0.0,1.0,116.493145,117.954865,116.483269,117.520300,33561948.0
2017-01-06,116.780,118.1600,116.4700,117.91,31751900.0,0.0,1.0,115.337596,116.700551,115.031425,116.453639,31751900.0
2017-01-05,115.920,116.8642,115.8100,116.61,22193587.0,0.0,1.0,114.488219,115.420756,114.379577,115.169696,22193587.0
2017-01-04,115.850,116.5100,115.7500,116.02,21118116.0,0.0,1.0,114.419083,115.070931,114.320318,114.586983,21118116.0
2017-01-03,115.800,116.3300,114.7600,116.15,28781865.0,0.0,1.0,114.369701,114.893155,113.342546,114.715378,28781865.0

In [97]:
type(df)

pandas.core.frame.DataFrame

In [98]:
df.shape

(18, 12)

In [100]:
df.head(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-27,122.14,122.35,121.60,121.95,20562944.0,0.0,1.0,120.631393,120.838799,120.098062,120.443739,20562944.0
2017-01-26,121.67,122.44,121.60,121.94,26337576.0,0.0,1.0,120.167198,120.927687,120.098062,120.433863,26337576.0
2017-01-25,120.42,122.10,120.28,121.88,32586673.0,0.0,1.0,118.932637,120.591887,118.794366,120.374604,32586673.0

In [101]:
df.tail(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-05,115.92,116.8642,115.81,116.61,22193587.0,0.0,1.0,114.488219,115.420756,114.379577,115.169696,22193587.0
2017-01-04,115.85,116.5100,115.75,116.02,21118116.0,0.0,1.0,114.419083,115.070931,114.320318,114.586983,21118116.0
2017-01-03,115.80,116.3300,114.76,116.15,28781865.0,0.0,1.0,114.369701,114.893155,113.342546,114.715378,28781865.0

In [102]:
df.describe()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
count,18.000000,18.000000,18.000000,18.000000,1.800000e+01,18.0,18.0,18.000000,18.000000,18.000000,18.000000,1.800000e+01
mean,118.876944,119.700233,118.579700,119.356667,2.687515e+07,0.0,1.0,117.408640,118.221761,117.115067,117.882437,2.687515e+07
std,1.871714,1.809604,1.912213,1.775460,4.506322e+06,0.0,0.0,1.848596,1.787253,1.888594,1.753531,4.506322e+06
min,115.800000,116.330000,114.760000,116.020000,2.056294e+07,0.0,1.0,114.369701,114.893155,113.342546,114.586983,2.056294e+07
25%,118.047500,119.320000,118.007500,119.002500,2.333652e+07,0.0,1.0,116.589441,117.846224,116.549935,117.532645,2.333652e+07
50%,119.002500,120.010000,118.705000,119.765000,2.622476e+07,0.0,1.0,117.532645,118.527701,117.238820,118.285727,2.622476e+07
75%,120.000000,120.487500,119.728450,120.000000,3.100939e+07,0.0,1.0,118.517825,118.999303,118.249629,118.517825,3.100939e+07
max,122.140000,122.440000,121.600000,121.950000,3.443984e+07,0.0,1.0,120.631393,120.927687,120.098062,120.443739,3.443984e+07

In [104]:
# sorting
df.sort_index(axis=0,ascending=False)
# means both index or columns
# axis=0 sort index
# axis=1 sort column

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-27,122.140,122.3500,121.6000,121.95,20562944.0,0.0,1.0,120.631393,120.838799,120.098062,120.443739,20562944.0
2017-01-26,121.670,122.4400,121.6000,121.94,26337576.0,0.0,1.0,120.167198,120.927687,120.098062,120.433863,26337576.0
2017-01-25,120.420,122.1000,120.2800,121.88,32586673.0,0.0,1.0,118.932637,120.591887,118.794366,120.374604,32586673.0
2017-01-24,119.550,120.1000,119.5000,119.97,23211038.0,0.0,1.0,118.073383,118.616590,118.024000,118.488195,23211038.0
2017-01-23,120.000,120.8100,119.7700,120.08,22050218.0,0.0,1.0,118.517825,119.317820,118.290666,118.596837,22050218.0
2017-01-20,120.450,120.4500,119.7346,120.00,32597892.0,0.0,1.0,118.962267,118.962267,118.255703,118.517825,32597892.0
2017-01-19,119.400,120.0900,119.3700,119.78,25597291.0,0.0,1.0,117.925236,118.606713,117.895606,118.300542,25597291.0
2017-01-18,120.000,120.5000,119.7100,119.99,23712961.0,0.0,1.0,118.517825,119.011649,118.231407,118.507948,23712961.0
2017-01-17,118.340,120.2400,118.2200,120.00,34439843.0,0.0,1.0,116.878328,118.754860,116.759810,118.517825,34439843.0
2017-01-13,119.110,119.6200,118.8100,119.04,26111948.0,0.0,1.0,117.638817,118.142518,117.342523,117.569682,26111948.0
2017-01-12,118.895,119.3000,118.2100,119.25,27086220.0,0.0,1.0,117.426473,117.826471,116.749934,117.777088,27086220.0
2017-01-11,118.740,119.9300,118.6000,119.75,27588593.0,0.0,1.0,117.273388,118.448689,117.135117,118.270913,27588593.0
2017-01-10,118.770,119.3800,118.3000,119.11,24462051.0,0.0,1.0,117.303017,117.905483,116.838822,117.638817,24462051.0
2017-01-09,117.950,119.4300,117.9400,118.99,33561948.0,0.0,1.0,116.493145,117.954865,116.483269,117.520300,33561948.0
2017-01-06,116.780,118.1600,116.4700,117.91,31751900.0,0.0,1.0,115.337596,116.700551,115.031425,116.453639,31751900.0
2017-01-05,115.920,116.8642,115.8100,116.61,22193587.0,0.0,1.0,114.488219,115.420756,114.379577,115.169696,22193587.0
2017-01-04,115.850,116.5100,115.7500,116.02,21118116.0,0.0,1.0,114.419083,115.070931,114.320318,114.586983,21118116.0
2017-01-03,115.800,116.3300,114.7600,116.15,28781865.0,0.0,1.0,114.369701,114.893155,113.342546,114.715378,28781865.0

In [105]:
df.sort_index(axis=1,ascending=True).head()

,AdjClose,AdjHigh,AdjLow,AdjOpen,AdjVolume,Close,ExDividend,High,Low,Open,SplitRatio,Volume
Date,,,,,,,,,,,,
2017-01-27,120.443739,120.838799,120.098062,120.631393,20562944.0,121.95,0.0,122.35,121.60,122.14,1.0,20562944.0
2017-01-26,120.433863,120.927687,120.098062,120.167198,26337576.0,121.94,0.0,122.44,121.60,121.67,1.0,26337576.0
2017-01-25,120.374604,120.591887,118.794366,118.932637,32586673.0,121.88,0.0,122.10,120.28,120.42,1.0,32586673.0
2017-01-24,118.488195,118.616590,118.024000,118.073383,23211038.0,119.97,0.0,120.10,119.50,119.55,1.0,23211038.0
2017-01-23,118.596837,119.317820,118.290666,118.517825,22050218.0,120.08,0.0,120.81,119.77,120.00,1.0,22050218.0

In [106]:
# sort by values
df.sort_values(by='Volume',ascending=False).head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-17,118.34,120.24,118.2200,120.00,34439843.0,0.0,1.0,116.878328,118.754860,116.759810,118.517825,34439843.0
2017-01-09,117.95,119.43,117.9400,118.99,33561948.0,0.0,1.0,116.493145,117.954865,116.483269,117.520300,33561948.0
2017-01-20,120.45,120.45,119.7346,120.00,32597892.0,0.0,1.0,118.962267,118.962267,118.255703,118.517825,32597892.0
2017-01-25,120.42,122.10,120.2800,121.88,32586673.0,0.0,1.0,118.932637,120.591887,118.794366,120.374604,32586673.0
2017-01-06,116.78,118.16,116.4700,117.91,31751900.0,0.0,1.0,115.337596,116.700551,115.031425,116.453639,31751900.0

In [107]:
df.sort_values(by=['Volume','Close'],ascending=[False,True]).head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-17,118.34,120.24,118.2200,120.00,34439843.0,0.0,1.0,116.878328,118.754860,116.759810,118.517825,34439843.0
2017-01-09,117.95,119.43,117.9400,118.99,33561948.0,0.0,1.0,116.493145,117.954865,116.483269,117.520300,33561948.0
2017-01-20,120.45,120.45,119.7346,120.00,32597892.0,0.0,1.0,118.962267,118.962267,118.255703,118.517825,32597892.0
2017-01-25,120.42,122.10,120.2800,121.88,32586673.0,0.0,1.0,118.932637,120.591887,118.794366,120.374604,32586673.0
2017-01-06,116.78,118.16,116.4700,117.91,31751900.0,0.0,1.0,115.337596,116.700551,115.031425,116.453639,31751900.0

In [108]:
df.iloc[1:4][:]

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-26,121.67,122.44,121.60,121.94,26337576.0,0.0,1.0,120.167198,120.927687,120.098062,120.433863,26337576.0
2017-01-25,120.42,122.10,120.28,121.88,32586673.0,0.0,1.0,118.932637,120.591887,118.794366,120.374604,32586673.0
2017-01-24,119.55,120.10,119.50,119.97,23211038.0,0.0,1.0,118.073383,118.616590,118.024000,118.488195,23211038.0

In [109]:
df[df.Close>df.Close.mean()].head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-01-27,122.14,122.35,121.60,121.95,20562944.0,0.0,1.0,120.631393,120.838799,120.098062,120.443739,20562944.0
2017-01-26,121.67,122.44,121.60,121.94,26337576.0,0.0,1.0,120.167198,120.927687,120.098062,120.433863,26337576.0
2017-01-25,120.42,122.10,120.28,121.88,32586673.0,0.0,1.0,118.932637,120.591887,118.794366,120.374604,32586673.0
2017-01-24,119.55,120.10,119.50,119.97,23211038.0,0.0,1.0,118.073383,118.616590,118.024000,118.488195,23211038.0
2017-01-23,120.00,120.81,119.77,120.08,22050218.0,0.0,1.0,118.517825,119.317820,118.290666,118.596837,22050218.0